body{

}
h1,
.update-alert{
    text-align: center;
}
.container{
    
    gap: 20px;
}

.top,
.middle{
    margin: 50px 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.bottom{
    padding: 0 100px;
}

.btn{
    width:60px;
    height: 30px;
    border-radius: 5px; 
    margin-right: 20px;
}

.hide{
    display: none;
}